@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;

/* Custom tailwind classes */
.btn-green {
  @apply capitalize rounded-md p-3 bg-green text-black;
}

.btn-black {
  @apply capitalize rounded-md p-3 bg-[#191919] text-white;
}

.btn-white {
  @apply capitalize rounded-md py-3 px-5 font-semibold bg-white text-black;
}

.btn-transparent {
  @apply capitalize rounded-md p-3;
}

.anchor-hover {
  @apply hover:text-green transition-all duration-200;
}



html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Recruiment section images */
.bg-img-dashboard {
  background: url("/images/dashboard_1.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%;
  width: 100%;
}

.bg-img-chat {
  background: url("/images/chat-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  max-width: 100%;
  width: 100%;
}

/* For gradient backgrounds */
.gradient {
  position: absolute;
  background: rgba(0, 191, 138, 0.2);
  filter: blur(85px);
  
  
  /* transform: matrix(0.87, 0.26, -0.6, 0.95, 0, 0); */
}
.gradient5{
  background: radial-gradient(81.03% 68.06% at 46.31% 47.54%, rgba(196, 240, 0, 0.094) 0%, rgba(196, 240, 0, 0) 100%);
  filter: blur(60px);

}

.gradient2 {
  position: absolute;
  background: rgba(0, 191, 138, 0.2);
  filter: blur(191px);
  /* transform: matrix(0.87, 0.26, -0.6, 0.95, 0, 0); */
}

.gradient3 {
  background: radial-gradient(84.52% 66.93% at 48.16% 48.41%, rgba(255, 255, 255, 0.171) 0%, rgba(240, 240, 240, 0) 100%);
filter: blur(60px);
transform: rotate(170.56deg);
}
.gradient4{
  background: radial-gradient(84.52% 66.93% at 48.16% 48.41%, rgba(255, 255, 255, 0.3) 0%, rgba(196, 240, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(60px);
}


/* Slider css */
.section-center {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
}

.article {
  position: relative;
  opacity: 0;
  transition: .3s all;
  margin: 0 auto;
}
.article::before{
  content: "";
  position: absolute;
  left: -280px;
  bottom: 0;
  background: url('/images/slider-black-img.svg');
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
}
@media screen and (max-width:1020px) {
  .article::before{
    display: none;
  }
}
@media screen and (min-width:1300px) {
  .article::before{
    content: "";
    position: absolute;
    left: -340px;
    bottom: 1rem;
    background: url('/images/slider-black-img.svg');
    background-size: cover;
    background-position: center center;
    height: 330px;
    width: 400px;
  }
}
/* For slides */
.activeSlide {
  transform: translateX(0);
  opacity: 1;
}

.lastSlide {
  transform: translateX(-100%);
  opacity: 0;
}

.nextSlide {
  transform: translateX(100%);
  opacity: 0;
}


/* Change scrollbar */
body::-webkit-scrollbar{
  width: 12px;
}
body::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 1rem;
}

@tailwind utilities;

/*  */



.animate {
  width: 200%;
  position: absolute;
  float: left;
  animation: slider 60s linear infinite;
}

.animate:hover {
  animation-play-state: paused;
}
@keyframes slider {
  0% { left: 0; }
  100% { left: -100%; }
}